body {
    background: #fcfdff;
    color: #333;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height:1.3rem;
    padding: 0;
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0 0 0.5em 0;
}

h1,h2,h3,h4,h5,h6,p,li {
    line-height:1.4em;
}

h1,h2,h3 {
    font-family: Georgia, 'Times New Roman', serif;
}

ul {
    margin:0 0 2em;
    padding:0;
}

ul > li {
    margin:0 0 0.5em;
    list-style-position: inside;
}

pre { 
    overflow: auto;
    margin-left: 1em;
    padding: 0.5em;
    border-left: 1px dashed;
    background: #fcfdff;
    color: #333;
    padding: .75em .5em;
    font-family: 'Courier New', Courier, monospace;
}

nav.top-chapter-nav {
    border-bottom: solid 1px #000;
    padding-bottom:0.5rem;
    margin-bottom:1rem;
}

nav.top-chapter-nav a {
    margin-top:1rem;
    display:inline-block;
}

nav.bottom-chapter-nav {
    border-top: solid 1px #000;
    padding-top:0.5rem;
    margin-top:3rem;
}

nav.chapter-nav::after {
    content:'';
    display:block;
    position:relative;
    clear:both;
}

nav.chapter-nav .prev-chapter {
    float:left;
}

nav.chapter-nav .next-chapter {
    float:right;
}

footer {
	margin-top: 4rem;
}

footer div {
    font-size: .9em;
    text-align: right;
    margin:0px auto;
    width:100%;
    display:block;
    max-width:940px;
}

.top-nav {
    padding-top:0.5rem;
    text-align:right;
}

.top-nav a {
    display:inline-block;
    margin-left:1rem;
    border-radius:0.5em;
}

main {
    margin:0px auto;
    width:100%;
    display:block;
    max-width:940px;
}

header nav {
    font-size: 1.2em;
    margin:0px auto;
    width:100%;
    display:block;
    max-width:940px;
}

header nav::after {
    content:'';
    display:block;
    position:relative;
    clear:both;
}

header nav a {
    line-height:2rem;
    vertical-align: top;
}

.top-nav a.logo-link {
    float:left;
    line-height:2rem;
    margin-left:0;
}

.logo-link span {
    line-height:2rem;
    vertical-align: top;
}

.logo-link img {
    display:inline-block;
    width:auto;
    height:2rem;
    margin-right:0.5rem;
}

a {
    text-decoration: none;
    color: #1155AA;
}
a:focus,
a:hover {
    text-decoration: none;
    color: #28F;
}
a.anchor {
    color: black;
}
.date {
    font-style: italic;
}
.title {
    margin-bottom: 1em;
}
.article-meta {
    margin-bottom: 2.2em;
}
.archive-title {
    font-size: 1em;
}
.article-title {
    font-size: 2em;
}
.article-content {
    margin-left: 2.2em;
}

.tag-low { font-size: .8em; font-weight: 200 }
.tag-medium { font-size: 1.2em; font-weight: 600 }
.tag-high { font-size: 1.8em; font-weight: 800 }
tt { font-size: .9em; font-family: 'Courier New', Courier, monospace; }

warning-text {
    color:#f31;
}

box-wrap {
    border: solid 1px #f31;
    border-left-width: 8px;
    background: #f314;
    color: #333;
    padding:0.6rem;
    box-sizing:border-box;
    display: block;
    margin-bottom:0.6rem;
    border-radius: 0 0 1rem 0;
}

box-wrap[box-color="red"] {
    border-color: #f31;
    background-color: #f314;
}

box-wrap[box-color="yellow"] {
    border-color: #f81;
    background-color: #f814;
}

box-wrap[box-color="green"] {
    border-color: #581;
    background-color: #5814;
}

box-wrap > *:last-child {
    margin-bottom:0;
}

main > h3 {
    border-top: solid 1px #000;
    padding-top:0.5rem;
    margin-top:3rem;
}

code {
    background: #00000030;
    font-family: 'Courier New', Courier, monospace;
    color:#000;
    padding:0.05rem 0.2rem;
    display: inline-block;
    border-radius: 2px;
}

.source {
    margin-left: 0;
    display: block;
    padding: 0.6rem;
    border-radius:0;
    border: none;
    border-left: dotted 1px #13f;
    color: #000;
    background-color: #13f2;
    line-height:1.3rem;
}

table {
    border-collapse: collapse;
    width:100%;
    overflow-x:auto;
}

table tbody tr:first-child td {
    border-top: none;
}

table th {
    background-color: #13f2;
    text-align:left;
    padding:0.3rem 0.3rem 0.1rem;
}

table td {
    border:solid 1px #13f4;
    padding:0.1rem 0.3rem;
}

/* Stolen from lisppaste for the colorize output of 3bmd */
.paste { background-color: #F4F4F4; color: black; }
.paste:hover { background-color: #F4F4F4; color: black; }
.symbol { color : #770055; background-color : transparent; border: 0px; margin: 0px;}
.special { color : #FF5000; background-color : inherit; }
.keyword { color : #770000; background-color : inherit; }
.comment { color : #007777; background-color : inherit; }
.string { color : #777777; background-color : inherit; }
.atom { color : #314F4F; background-color : inherit; }
.macro { color : #FF5000; background-color : inherit; }
.variable { color : #36648B; background-color : inherit; }
.function { color : #8B4789; background-color : inherit; }
.attribute { color : #FF5000; background-color : inherit; }
.character { color : #0055AA; background-color : inherit; }
.syntaxerror { color : #FF0000; background-color : inherit; }
.diff-deleted { color : #5F2121; background-color : inherit; }
.diff-added { color : #215F21; background-color : inherit; }
span.paren1 { background-color : inherit; -webkit-transition: background-color 0.2s linear; }
span.paren1:hover { color : inherit; background-color : #BAFFFF; }
span.paren2 { background-color : inherit; -webkit-transition: background-color 0.2s linear; }
span.paren2:hover { color : inherit; background-color : #FFCACA; }
span.paren3 { background-color : inherit; -webkit-transition: background-color 0.2s linear; }
span.paren3:hover { color : inherit; background-color : #FFFFBA; }
span.paren4 { background-color : inherit; -webkit-transition: background-color 0.2s linear; }
span.paren4:hover { color : inherit; background-color : #CACAFF; }
span.paren5 { background-color : inherit; -webkit-transition: background-color 0.2s linear; }
span.paren5:hover { color : inherit; background-color : #CAFFCA; }
span.paren6 { background-color : inherit; -webkit-transition: background-color 0.2s linear; }
span.paren6:hover { color : inherit; background-color : #FFBAFF; }

@media (max-width: 680px) {

    main {
        padding-top: 0em
    }

    .title {
        margin-left: 0.1em;
    }

    .article-meta {
        margin-bottom: 1em;
    }

    .article, .article-content {
        margin-left: 0em;
        text-align: justify;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}
